/* Gerais */
* {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    text-align: center;
    position: relative; 
}

/* Estilos do logotipo */
.logo-container {
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0;
    margin: 15px;
}
.logo {
    width: 80px; 
    height: auto;
    margin: 10px;
    align-items: center;
}

.logo-principal{
    color: #5B5E8B;
}

/* Banner */
.banner {
    width: 100%;
    height: 80vh;
    background-image: url('./images/banner-organic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}

/* Busca de produtos */
.search-products {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 85vh; /* Ajusta a posição da barra de busca abaixo do banner */
    left: 50%;
    transform: translateX(-50%);
    background-color: white; 
}

.search-text {
    font-size: 20px;
    text-align: center;
    margin-top: 10px; 
 
}

.search-products input[type="text"] {
    font-size: 14px;
    color: gray;
    width: calc(100% - 110px);
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-products button {
    font-size: 14px;
    float: right; 
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #C06E77;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Rodapé */
footer {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    background-color: #C06E77;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed; 
    width: 100%; 
    bottom: 0;
    z-index: 1000;
}

footer p {
    margin: 0;
}

