/* Gerais */
* {
    font-family: Inter;
    margin: 0;
    padding: 0;
}
    /* título das 3 sessões */
.h2-sections {
    font-size: 28px;
    margin: -1px;
    color: #5B5E8B;

    margin-bottom: px;
    padding: 1rem;
    text-align: center;
    bottom: 0;
}


/* Cabeçalho - Header */
header {
    text-align: center;
    position: relative;
}

    /* Logotipo */
.header-fixed-top {
    width: 100%; 
    max-width: 100%; 
    height: 80px; 
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    padding: 0px 16px;
    text-align: center;
    z-index: 1;
    background-color: transparent; /* Inicia com fundo transparente */
    transition: background-color 0.3s ease;
}

.header-fixed-top.scrolled {
    background-color:whitesmoke; 
}

.logo { 
    /* imagem da logo */
    width: 80px; 
    height: auto;
    margin: 10px;
    align-items: center;
    padding: 0px;
}

.logo-principal {
    /* texto da logo */
    font-size: 32px;
    margin: -1px;
    color: #5B5E8B;
}

    /* Banner - foto */
.banner {
    width: 100%;
    height: 80vh;
    background-image: url('./images/banner-organic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
}

/* Sessão - Sobre a Cooperativa */
.sobre-cooperativa {
    display: contents;
    flex-direction: row;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    padding: 20px;
    gap: 20px;

}

.content-sobre-coop{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-img-sobre-coop {
    flex: 1;
    display: flex;
    justify-content: left;
    margin: 40px;
}

.card-img-sobre-coop img {
    width: 100%;
    max-width: 500px; /* o tamanho máximo para a imagem */
    height: auto;
    border-radius: 5px;
    margin-left: 20%;
}

.card-text-sobre-coop {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    flex: 1.5;
    margin-right: 10%;
    margin-left: 80px;
    text-align: justify;
}



/* Sessão - Buscar produtos */

    /* Barra de busca ??*/
.buscar-produtos {
    width: 60%;
    margin: 20px auto 40px; /* Espaço maior abaixo do banner e do texto de busca */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white; 
    text-align: center;
}

.search-text {
    font-size: 20px;
    margin: 20px 0; /* Espaço entre o texto e o retângulo de busca */
}

.search-products input[type="text"] {
    font-size: 14px;
    color: gray;
    width: calc(100% - 110px);
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-products button {
    font-size: 14px;
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #C06E77;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* 3 Cards */
.cards-container {
    display: flex;
    justify-content: space-around; /* Espaço uniforme ao redor dos cards */
    margin: 70px 100px;
}

.card {
    width: 180px; 
    height: 200px; 
    margin: -1px; 
    padding: 30px; 
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


/* Rodapé */
footer {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
    text-align: center;
    bottom: 0;
    z-index: 1000;
}

footer p {
    margin: 0;
}
