#titulo-carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: 40%;
    margin: 0.5% auto auto auto;
}

#titulo-carrinho p{
    text-align: center;
    font-size: 22px;
    margin-top: 7%;
    margin-bottom: 15px;
    margin-left: 15px;
}
.carrinho-compras{
    width: 40px; 
    height: auto;
    margin: 0px;
    align-items: center;
}

#tabela-pedidos .buttons .pagamento:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

footer {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tabela-pedidos {
    width: 90%;
    margin: 15% auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tabela-pedidos h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

#tabela-pedidos table {
    width: 100%;
    border-collapse: collapse;
}

#tabela-pedidos th, 
#tabela-pedidos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#tabela-pedidos th {
    background-color: #5d6193;
    color:white;
    font-weight: bold;
}


#entrega {
    background-color: #adadb6;
    color:white;
    font-weight: bold;
}
#total {
    background-color: #5d6193;
    color:white;
    font-weight: bold;
}


#tabela-pedidos .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tabela-pedidos .quantity-controls button {
    background-color: #D9534F;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%;
}

#tabela-pedidos .quantity-controls span {
    font-size: 16px;
    width: 30px;
    text-align: center;
}

#tabela-pedidos .cart-item-remove {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#tabela-pedidos .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#tabela-pedidos .buttons .back-to-shopping,
#tabela-pedidos .buttons .pagamento {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

#tabela-pedidos .buttons .back-to-shopping {
    background-color: #f0ad4e;
}

#tabela-pedidos .buttons .pagamento {
    background-color: #5cb85c;
}

#tabela-pedidos input {
    font-size: 16px;
    margin-left: 40%;
}

#tabela-pedidos .quantity-controls {
    min-width: 100px;
}
